.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 3%;
}

.column img {
  margin-top: 30px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.maingallery {
  margin-bottom: 40px;
}

h1 {
  margin-left: 80px;
  margin-bottom: 24px;

  @media screen and (max-width: 1440px) {
    margin-left: 72px;
        }

  @media screen and (max-width: 600px) {
    margin-left: 32px;
        }

        @media screen and (max-width: 480px) {
          margin-left: 16px;
              }
}

